.jumbotron {
    padding-top: 6rem;
    color: white;
    background-color: #1e1e66;
}

.jumbotron h1 {
    /* font-family: ; */
    padding: 50px;
    /* font-weight: bold; */
}

.jumbotron img {
    width: min(250px, 75%);
    box-shadow: 0 0 50px 15px #404fc0;
    transition: all 0.4s ease-in-out;
}

.jumbotron img:hover {
    box-shadow: 0 0 50px 25px #525fc4;
}

#About {
    margin-top: 50px;
    /* margin-bottom: 50px; */
}

#Projects {
    background-color: #1e1e66;
    color: white;
}

#Projects h2 {
    padding-top: 90px;
    padding-bottom: 20px;
}

.card {
    width: 240px;
    margin: 5px auto;
    transition: all 0.6s ease-in-out;
}

.card-body {
    text-decoration: none;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 50px 8px #4d5ccd;
}

#Skills {
    padding-top: 100px;
    background-color: #1e1e66
}

#Skills .container {
    /* padding-bottom: 200px; */
    padding: 0 50px;
}

#Skills .col-md-3 {
    margin: 5px 2rem;
    border: 10px;
    background-color: white;
    /* border: 2px solid red; */
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
}

#Skills .col-md-3:hover {
    transform: scale(1.03);
    box-shadow: 0 0 50px 8px #4d5ccd;
}

#Skills h2 {
    margin-bottom: 40px;
    color: white;
}

#Skills .col-md-3 img {
    max-width: 30%;
    padding: 50px 10px;
    transition: all 0.3s ease-in-out;
}

#Skills .col-md-3 img:hover {
    transform: scale(1.09);
}

#Skills p {
    color: white;
    margin-top: 10px;
    margin-bottom: 120px;
}

#Contact {
    font-size: 15px;
    padding-bottom: 80px;
    background-color: white;
}

#Contact .btn-kirim {
    background-color: #1e1e66;
    color: white;
}

#Contact .btn-kirim:hover {
    background-color: #3d3daa;
}

footer {
    padding-bottom: 40px;
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #404099;
    
}
